* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
public/css/app.css linguist-vendored
public/js/app.js linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
